@font-face {
  font-family: 'KIN668';
  src = url('KIN668.ttf') format('truetype');
}


#menu-top ul, li {
  text-align: left;
}

* {
  text-align: center;
}

p {
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}

hr {
  border: 1px solid white;
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0px;
}

.banner1 {
  height: 450px;
  padding-top: 70px;
  background-image: url('background1.jpg');
  background-size: cover;
}

.banner2 {
  min-height: 240px;
  background-color: #d1c5bc;
}

.banner3 {
  height: 600px;
  padding-top: 0;
  background-image: url('background.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner4 {
  height: 500px;
  padding-top: 50px;
}

.banner5 {
  background-color: #3d3424;
}

.subbanner {
  background: rgba(255, 255, 255, 0.4);
  min-height: 600px;
}

.quote {
  font-size: 2em;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.my-button,
.my-button:hover,
.my-button:active,
.my-button:visited,
.my-button:focus  {
  background-color:#917e6e;
  border-color: #917e6e;
}

.navbar-brand {
  margin-top: 15px;
}

/*Cafe List CSS*/
#menu {
  background-color: white;
}

.search-form {
    margin-top: 10px;
}

.search-result a {
    margin-bottom: 0;
    color: #3d3424;
    font-style: oblique;
    font-weight: 500;
}

.search-result .search-link {
  color: yellow;
}

.search-result p {
    font-size: 15px;
    margin-top: 5px;
}

.hr-line-dashed {
    border-top: 1px dashed #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin-bottom: 10px;
}

/*login page*/
/* Coded with love by Mutiullah Samim */
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(background2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #e6c8ae;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

  }
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
  }
  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .form_container {
    margin-top: 25px;
  }
  .login_btn {
    width: 100%;
    background: #615040;
    color: white;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #615040;
    color: white;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
  }
